.sidebar {

    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}

@media (max-width: 767.98px) {

    .forecast {

        margin-top: 5px;
        margin-bottom: 5px;
        
    }

    .sidebar-sticky {

        height: 500px;

    }

}

.sidebar-sticky {

    position: relative;
    top: 0;
    height:calc(100vh - 127px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;

}

.sidebar-heading {

    font-size: .75rem;
    text-transform: uppercase;

} 

.alert {

    width: 60px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;

}

.alert-mid {

    background-color: rgb(255, 174, 0);

}

.alert-high {

    background-color: rgb(153, 0, 255);
    color: #ffffff

}

.city-center{

    width: 100%;
    margin-left: 10px;
    margin-right: 10px;

}


.forecastCard {

    margin-top: 10px;
    
}

.forecast {
    
    margin-left: 10px;
    background-color: rgb(7, 126, 223);
    color:white;

}

.forecastTitle{

    margin-left: 10px;

}

.forecastCards {

    margin-left: -30px;

}