.sidebar {

    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}

/* @media (max-width: 767.98px) {

    .sidebar {

        height: auto;
        
    }

} */

.sidebar-sticky {

    position: relative;
    top: 0;
    height:calc(100vh - 127px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;

}

.sidebar-heading {

    font-size: .75rem;
    text-transform: uppercase;

} 

.alert {

    width: 60px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;

}

.alert-mid {

    background-color: rgb(255, 174, 0);

}

.alert-high {

    background-color: rgb(153, 0, 255);
    color: #ffffff

}